[submodule "projects/bobbing-rings"]
	path = projects/bobbing-rings
	url = https://github.com/IndigoLily/bobbing-rings
[submodule "projects/juggle"]
	path = projects/juggle
	url = https://github.com/IndigoLily/juggle
[submodule "projects/cloud"]
	path = projects/cloud
	url = https://github.com/IndigoLily/cloud
