[submodule "projects/bobbing-rings"]
	path = projects/bobbing-rings
	url = https://github.com/IndigoLily/bobbing-rings
[submodule "projects/juggle"]
	path = projects/juggle
	url = https://github.com/IndigoLily/juggle
[submodule "projects/cloud"]
	path = projects/cloud
	url = https://github.com/IndigoLily/cloud
[submodule "projects/phosphene"]
	path = projects/phosphene
	url = https://github.com/IndigoLily/phosphene
[submodule "projects/thue-strobe"]
	path = projects/thue-strobe
	url = https://github.com/IndigoLily/thue-strobe
[submodule "projects/eqtri"]
	path = projects/eqtri
	url = https://github.com/IndigoLily/eqtri
[submodule "projects/tritiles"]
	path = projects/tritiles
	url = https://github.com/IndigoLily/tritiles
[submodule "projects/rotating-tiles"]
	path = projects/rotating-tiles
	url = https://github.com/IndigoLily/rotating-tiles
[submodule "projects/tree-generator"]
	path = projects/tree-generator
	url = https://github.com/IndigoLily/tree-generator
[submodule "projects/corn-popper"]
	path = projects/corn-popper
	url = git@github.com:IndigoLily/corn-popper.git
[submodule "projects/quadrants"]
	path = projects/quadrants
	url = git@github.com:IndigoLily/quadrants.git
[submodule "projects/mandelbrot"]
	path = projects/mandelbrot
	url = git@github.com:IndigoLily/mandelbrot.git
[submodule "projects/subdivide"]
	path = projects/subdivide
	url = git@github.com:IndigoLily/subdivide.git
[submodule "projects/offset"]
	path = projects/offset
	url = git@github.com:IndigoLily/offset.git
[submodule "projects/iris"]
	path = projects/iris
	url = git@github.com:IndigoLily/iris.git
[submodule "projects/paper"]
	path = projects/paper
	url = git@github.com:IndigoLily/paper.git
[submodule "projects/confetti"]
	path = projects/confetti
	url = git@github.com:IndigoLily/confetti.git
[submodule "projects/hadron"]
	path = projects/hadron
	url = git@github.com:IndigoLily/hadron.git
[submodule "projects/flowfield"]
	path = projects/flowfield
	url = git@github.com:IndigoLily/flowfield.git
[submodule "projects/bezier"]
	path = projects/bezier
	url = git@github.com:IndigoLily/bezier.git
[submodule "projects/overlap"]
	path = projects/overlap
	url = git@github.com:IndigoLily/overlap.git
[submodule "projects/eclipse-particles"]
	path = projects/eclipse-particles
	url = git@github.com:IndigoLily/eclipse-particles.git
[submodule "projects/repel"]
	path = projects/repel
	url = git@github.com:IndigoLily/repel.git
[submodule "projects/skittle-rain"]
	path = projects/skittle-rain
	url = git@github.com:IndigoLily/skittle-rain.git
[submodule "projects/divan"]
	path = projects/divan
	url = git@github.com:IndigoLily/divan.git
[submodule "projects/split"]
	path = projects/split
	url = git@github.com:IndigoLily/split.git
[submodule "projects/lattice"]
	path = projects/lattice
	url = git@github.com:IndigoLily/lattice.git
[submodule "projects/rain"]
	path = projects/rain
	url = git@github.com:IndigoLily/rain.git
[submodule "projects/signals"]
	path = projects/signals
	url = git@github.com:IndigoLily/signals.git
[submodule "projects/ring"]
	path = projects/ring
	url = git@github.com:IndigoLily/ring.git
[submodule "projects/burst"]
	path = projects/burst
	url = git@github.com:IndigoLily/burst.git
[submodule "projects/poly"]
	path = projects/poly
	url = git@github.com:IndigoLily/poly.git
[submodule "projects/exp-circle"]
	path = projects/exp-circle
	url = git@github.com:IndigoLily/exp-circle.git
[submodule "projects/petri-dish"]
	path = projects/petri-dish
	url = git@github.com:IndigoLily/petri-dish.git
